<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes dos produtos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css"/>
</head>
<body style="overflow: hidden">
    <div class="header-estoque">
        <div class="row">
            <h2 class="nome-pagina">Detalhes dos Produtos</h2>
        </div>
    
        <div class="row">
    
            <div class="col-6">
                <div class="dropdown">
                    <button id="btn-organizar" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Organizar
                    </button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Mais recentes</a></li>
                    <li><a class="dropdown-item" href="#">Mais antigos</a></li>
                    <li><a class="dropdown-item" href="#">Maior valor</a></li>
                    <li><a class="dropdown-item" href="#">Menor valor</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-6" id="btn-add"> 
                <button type="button" class="btn btn-primary">+ Novo</button>
                <button type="button" class="btn btn-danger"><img src="/images/lata-lixo.png" alt="lata-lixo" style="width: 20px; padding: 1px;"></button>
            </div>
        </div>
    </div>

    <div class="boxes">
    <iframe src="/detalhes/detalhes_itens/" class="left-side-app" frameborder="0" scrolling="no"></iframe>
    </div>

    <div class="boxes">
    <iframe src="/detalhes/detalhes_dados/" class="right-side-app" frameborder="0" scrolling="no"></iframe>
    </div>
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>